.custmordr_heading h1.title-heading-left {
    font-size: 43px !important;
    text-align: center !important;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: #3bc3af;
    font-weight: 700;
}.custmordr_subheading h1.title-heading-left {
    font-size: 34px !important;
    text-align: center !important;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: #3bc3af;
    font-weight: 700;
    margin: 0% 11%;
}.count_down_1 {
    background-color: #36c6af !important;
    padding: 24% 1px;
}.fusion-text.custom_order_p p {
    text-align: center !important;
    font-size: 15px;
}.sub_headings h1 {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 29px;
    letter-spacing: 1px;
    color: rgb(102 102 102);
    text-align: center !important;
}.fifteenpercentoff_calc .custom_calculator_side_bar{
    display:none;
}.fifteenpercentoff_calc .custom_calculator {
    width: 100%;
}
tr.cart_item td.product-name .product-info {
    margin-left: 15px;
}.shop_table.cart .product-thumbnail {
    display: none;
}.fusion-breadcrumbs span {
    color: #36c6af !important;
    font-size: 21px !important;
}#adhesive_product .finishing.col-sm-3 {
    display: none;
}#mega-menu-wrap-main_navigation #mega-menu-main_navigation input, #mega-menu-wrap-main_navigation #mega-menu-main_navigation img {
    width: 100%;
    height: 125px;
}.mega_menu_vinyl_banners h3.product-title a {
    font-size: 14px !important;
    line-height: 13px;
}
.cart.shop_table .product-quantity {
    display: none;
}
.menu-cart-menu-container ul#menu-cart-menu {
    padding-left: 0px;
}
.textwidget .wpcf7-form.init .above_footer_submit {
    box-sizing: border-box;
    padding: 19px 29px;
    display: inline-block;
    border: 1px;
    border-color: #ddd;
    background-color: #444;
    background-image: none;
    text-shadow: none;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    line-height: normal;
    border-radius: 0px;
    height: auto;
    margin: 0;
}
input.newsletter_submit_popup {
    background: #36C6AF;
    cursor: pointer;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
}
.popup_content_right {
    float: right;
    display: inline-block;
    width: 50%;
}
.popup_content_left {
    float: left;
    display: inline-block;
    width: 50%;
}
.fusion-column.fusion-column-last.col-lg-3.col-md-3.col-sm-3 #media_image-2 img {
    max-width: 225px !important;
}
.fusion-social-links.header_top_social {
    margin-right: 25px;
}
.fusion-header-wrapper .fusion-secondary-main-menu {
    padding-left: 25px;
    padding-right: 10px;
}    
.fusion-is-sticky .fusion-main-menu > ul > li {
    padding-right: 0px !important;
}
.fusion-header-wrapper .fusion-main-menu li.current-menu-item a {
    color: #41c5af;
}
.tnp-widget-minimal input.tnp-submit, .tnp-widget-minimal input.tnp-email {
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}
#btn-addcart:hover {
    background: #009688 !important;
    /* cursor: pointer; */
    background-image: url(https://pvcbannersprinting.co.uk/wp-content/uploads/2020/02/buttons-sheet.png) !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    position: relative !important;
    right: 0px !important;
    top: 0px !important;
    background-position: -7px -236px !important;
    font-weight: bold;
    height: 44px !important;
    border-radius: 8px;
    color: white;
}
.login_reg {
    margin-left: 10px;
}
.avada-product-gallery-thumbs-wrapper {
    border: 2px solid #36C6AE;
    padding: 5px !important;
    margin: 0px 0px 0px -2px !important;
    width: 100.8% !important;
}
.product .images {
    width: 500px;
    border: 2px solid #36C6AE;
}
ul.social-share.clearfix {
    display: none !important;
}
ul.tabs.wc-tabs {
    display: none;
}
div#tab-description {
    width: 100%;
    margin-left: 0px;
    padding: 0;
    border: none;
}
.avada-product-gallery-thumbs-wrapper {
    border: 2px solid #36C6AE;
}
.woocommerce-order-received .product-quantity {
    display: none;
}
.fusion-is-sticky .fusion-main-menu > ul > li > a {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
} .fusion-main-menu > ul > li > a {
    padding-left: 0;
    padding-right: 0;
}
.fusion-image-size-fixed {
    display: block;
    max-width: 100%;
}
.fusion-image-size-fixed img{
    width: 100%;
}
#main .post h2 a, #main .product .product_title, .about-author .title a, .fusion-content-widget-area .widget .recentcomments a, .fusion-content-widget-area .widget li a, .fusion-content-widget-area .widget_categories li, .fusion-hide-pagination-text .pagination-next:after, .fusion-hide-pagination-text .pagination-prev:before, .fusion-load-more-button, .fusion-rollover a, .fusion-woo-featured-products-slider .price .amount, .pagination .pagination-next:after, .pagination .pagination-prev:before, .project-content .project-info .project-info-box a, .shop_attributes tr th, .single-navigation a[rel="next"]:after, .single-navigation a[rel="prev"]:before, .widget_layered_nav li.chosen a, .widget_layered_nav li.chosen a:before, .widget_layered_nav_filters li.chosen a, .widget_layered_nav_filters li.chosen a:before, body a, body a:after, body a:before {
    color: #36c6af;
}
#main #comment-submit, #main .comment-submit, #reviews input#submit, .button-default, .button.default, .comment-form input[type="submit"], .fusion-button-default, .fusion-portfolio-one .fusion-button, .post-password-form input[type="submit"], .price_slider_amount button, .slidingbar-area .button-default, .ticket-selector-submit-btn[type=submit], .tml-submit-wrap input[type="submit"], .woocommerce .avada-order-details .order-again .button, .woocommerce .avada-shipping-calculator-form .button, .woocommerce .cart-collaterals .checkout-button, .woocommerce .checkout #place_order, .woocommerce .checkout_coupon .button, .woocommerce .login .button, .woocommerce .lost_reset_password input[type="submit"], .woocommerce .register .button, .woocommerce .single_add_to_cart_button, .woocommerce button.button, .woocommerce-MyAccount-content form .button, .woocommerce.add_to_cart_inline .button, .wpcf7-form input[type="submit"], .wpcf7-submit, input.button-default {
    background: #36c6af;
    text-transform: uppercase;
    color: #fff;
    background-image: -webkit-gradient( linear, left bottom, left top, from( #36c6af ), to( #36c6af ) );
    background-image: linear-gradient( to top, #36c6af, #36c6af );
    background-image: -webkit-linear-gradient( to top, #36c6af, #36c6af );
    background-image: -moz-linear-gradient( to top,#36c6af, #36c6af );
    background-image: -ms-linear-gradient( to top, #36c6af, #36c6af );
    background-image: -o-linear-gradient( to top, #36c6af, #36c6af );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#36c6af, endColorstr=#36c6af);
    transition: all .2s;
    border-width: 0px;
    border-style: solid;
    border-color: #36c6af;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    -webkit-border-radius: 2px;
}
.avada-product-gallery .woocommerce-product-gallery__image.flex-active-slide img {
    width: 100%;
}
h3.product-title a {
    font-size: 18px !important;
    letter-spacing: 0.3px !important;
    text-align: center;
    color: #36c6af !important;
    font-style: initial;
    line-height: 10px;
    font-family: Calibri;
}
.fusion-product-content {
    border-bottom: 1.5px solid #36c6af !important;
    border-right: 1.5px solid #36c6af !important;
    border-left: 1.5px solid #36c6af !important;
    padding:10px !important;
    min-height: auto;
    vertical-align: middle !important;
}
.product-details-container {
    min-height: 25px;
}
.fusion-woo-product-design-clean .products .product-title{
    line-height: 15px;
}
.fusion-woo-product-design-clean .products .fusion-price-rating {
    display: none;
}
.fusion-clean-product-image-wrapper {
    position: relative;
    border: 2px solid #36c6af;
}
.tnp-widget-minimal input.tnp-submit {
    width: 28%;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    float: left;
    height: 60px;
}
.tnp-widget-minimal input.tnp-email {
    width: 70%;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    float: left;
}
.hundred-percent-fullwidth .fusion-row {
    max-width: 1260px !important;
}
.products li.product {
    border: none;
}
.catalog-ordering.fusion-clearfix,.related.products {
    display: none !important;
}
h2.testimonial_rotator_slide_title {
    font-size: 18px !important;
    display: none;
}
.testimonial_rotator_stars.cf-tr {
    padding: 3px 0px 0px 0px;
}
.testimonial_rotator.template-longform .testimonial_rotator_quote {
    text-align: center;
    padding: 0px 20px;
}
div#client_review h3 {
    font-size: 22px !important;
}
.product_meta {
    display: none;
}
.woocommerce-info, .woocommerce-message {
    padding: 0px 50px !important;
    background: #36c6af !important;
}
.show_upload_img img {
    width: 100%;
    height: auto;
}

.show_upload_img {
    width: 100px;
    margin-top: 10px;
    float: left;
    max-width: 100px;
    display: block;
}
.avada-myaccount-user .avada-myaccount-user-column:last-child {
    -webkit-flex-grow: 1.5;
    -ms-flex-positive: 1.5;
    flex-grow: 0;
    border-right: 0;
    padding-left: 0;
}
.avada-myaccount-user-column .view-cart {
    display: none;
    width: 0px;
}
section#text-2 {
    margin-bottom: 0px;
}
div#subscribe_form {
    max-height: 0px;
    padding: 3px 0px;
}
section#newsletterwidgetminimal-2 {
    margin-bottom: 0;
    padding: 0;
}
tr.woocommerce-table__line-item.order_item .product-info a:nth-child(1) {
    display: none;
}
tr.woocommerce-table__line-item.order_item .product-info .wc-item-meta a {
    display: block;
}
@media only screen and (min-width: 1235px){
.fusion-header-wrapper {
    position: relative;
    z-index: 10000;
    left: 0;
    right: 0;
}
}
@media only screen and (max-width: 600px){
section#media_image-2{
    max-width:220px;
}
#home_step_guide a.button.button_size_large .button_label{
    color: #fff;
    font-size: 16px;
}
#home_step_guide a.button.button_size_large span.icon_preview.icon-fa-chevron-right.selected-element{
    display:none;    
}
#home_step_guide .fusion-builder-row.fusion-builder-row-inner.fusion-row {
    display: flex;
}
#home_step_guide a.button.button_size_large.button_js {
    padding: 11px 7px;
}
#home_step_guide .steps_inner .steps_text h3{
    padding: 0px 1px;
    line-height: 14px;
    font-size: 11px;
}
#home_step_guide .steps_inner .steps_icon {
    margin-top: 37px;
    padding: 6px;
}
.home_why_choose_us .fusion-column.content-box-column {
    padding: 0px;
    margin: 0px 1px;
    width: 20%;
}
.home_why_choose_us {
    display: flex;
}
.custom_calculator input#btn-addcart {
    padding: 12px 16px !important;
    display: block;
    text-align: end;
    font-size: 15px !important;
}.add_cart_btn.column.col-sm-3 {
    width: 49% !important;
    margin-top: 0px !important;
    display: inline-block;
    padding: 0px 0px 0 0px !important;
    float: left;
}.ccustom_price_row input#pricetotal_oneway {
    width: 40% !important;
}.custom_calculator .col-sm-8 {
    width: 100%;
}.custom_calculator .col-sm-3, .finishing.col-sm-3 {
    width: 49% !important;
    float: left;
}.custom_calculator .col-sm-2 {
    width: 49%;
    float: left;
}div#sliders-container {
    margin-top: 0px !important;
}div#sliders-container {
    margin-top: 76px;
}
table.home_calc_price_table .column1 {
    display: inline-grid;
    grid-template-columns: auto;
    width: 50%;
}
table.home_calc_price_table .column2 {
    display: inline-grid;
    grid-template-columns: auto;
    width: 50%;
}
.home_calc_price_table td.main-td {
    width: auto !important;
    text-align: center;
}
.table-responsive.table-1 .home_calc_price_table tbody tr td {
    padding: 0px;
    text-align: center;
    margin: 0px;
    border: 1px solid #36c6af;
}
}
@media (min-width: 425px) and (max-width: 768px) {
.fusion-header-v4 .fusion-logo .fusion-logo-link {
        float: left;
}.summary.entry-summary .custom_calculator .row.finishing_row .col-sm-8, .summary.entry-summary .custom_calculator .row.quantity_main .col-sm-8, .summary.entry-summary .custom_calculator .quantity_main .col-sm-4, .fusion-header .fusion-header-content-3-wrapper {
    width: 100% !important;
    float: right;
}.summary.entry-summary .custom_calculator .row.cart_button_main, .summary.entry-summary .custom_calculator .row.price_total_main, .summary.entry-summary .custom_calculator .row.finishing_row, .summary.entry-summary .custom_calculator .col-sm-4.inch_main1, .summary.entry-summary .custom_calculator .col-sm-4.inch_main2 {
    width: 50%;
    display: inline-block;
    float: left;
}.summary.entry-summary .custom_calculator .col-sm-4.width_input {
    width: 31%;
    text-align: left;
    float: left;
}.summary.entry-summary .custom_calculator .row.main_width .label{
    width: 17%;
    text-align: left;
    float: left;
}.summary.entry-summary .custom_calculator .col-sm-4.height_input {
    width: 31%;
    text-align: left;
    float: left;
}.summary.entry-summary .mian_height .label{
    width: 17%;
    text-align: left;
    float: left;
}
.summary.entry-summary .custom_calculator .row.quantity_main{
    width: 50%;
    display: inline-block;
    float: left;
    margin-left: 34px;
}
.summary.entry-summary .custom_calculator input#pricetotal_oneway {
    width: 85%;
}
.summary.entry-summary .custom_calculator .afu-process-file label {
    font-size: 17px !important;
}
.summary.entry-summary div#form1 {
   padding-bottom: 90px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .fusion-header-v4 .fusion-logo .fusion-logo-link {
        float: left;
    }
    .fusion-header .fusion-header-content-3-wrapper {
        width: 73%;
        float: right;
    }
    #home_cats {
        width: 49.33% !important;
        padding: 10px;
        margin: 0px !important;
    }
    .custom_calculator .col-sm-8 {
        width: 100%;
    }
    .custom_calculator .col-sm-8 .size_row .col-sm-3 {
        width: 25%;
        display: inline-block;
    }
    .custom_calculator .col-sm-2 {
        width: 50%;
        float: left;
    }
    input#pricetotal_oneway {
        width: 20%;
    }
    .custom_calculator_side_bar {
    display: none;
}.home .custom_calculator {
    width: 100%;
    float: left;
}.custom_calculator .finishing.col-sm-3 {
    width: 25%;
    float: left;
}.custom_calculator .qtyp1.col-sm-2 {
    width: 15%;
}.custom_calculator .add_cart_btn.column.col-sm-3 {
    width: 45%;
    float: left;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
}